[Unit]
Description=Wifi connection tool
Before=network.target
Wants=network.target

[Service]
RemainAfterExit=yes
Type=forking
ExecStart=/usr/bin/wifi auto
#ExecStart=/usr/bin/wifi any
#ExecStart=/usr/bin/wifi auto reconnect
#ExecStart=/usr/bin/wifi any reconnect

[Install]
WantedBy=multi-user.target
